*{
	background: none;
}

body{
	background:	#f4f4f4;
	color: #555;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background:coral;
	color: #fff;
}

#navbar{
	background: #333;
	color: #fff;
}

#navbar ul{
	padding: 0;
	list-style: none;

}

#navbar li{
	display: inline;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase{
	background-image:url("../images/showcase.jpeg");
	color: white;
	background-position: center right;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1{
	color: #fff;
	font-size: 20px;
	line-height: 1.6e,;
	padding-top: 30px;
}

#main{
	float: left;
	width: 70%;
	padding:0 50px;
	background: #f4f4f4;
	color:black;
	box-sizing: border-box;

}

#sidebar{
	float: right;
	width: 30%;
	background: #333;
	color: #fff;
	padding:0 50px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top:40px;
}

@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}

	#sidebar{
		width: 100%;
		float: none;
	}
}

.fix-me{
	position: fixed;
	top: 600px;
	color: white;
	background:black;
}












